

<body [ngStyle]="{backgroundImage:'url(../assets/images/2.jpg)'}">
    <app-navbar></app-navbar>

<section class="container my-5 about-section">
    <div class="row">
        <div class="col-md-6" style="background-color: #3498db; color: #fff; padding: 20px; border-radius: 10px;">
            <h2>About Our Wedding Hall</h2>
            <p>
                Welcome to our exquisite wedding hall, where dreams come true. With our picturesque
                venue and professional team, we make every moment of your special day unforgettable.
                Whether you're planning a grand celebration or an intimate gathering, we're here to
                make it perfect for you.
            </p>
            <p>
                Our experienced staff will work closely with you to ensure every detail is taken care
                of, from elegant decor to delicious catering. Your happiness is our priority, and we
                take pride in creating beautiful memories.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../assets/images/f.jpg" alt="Wedding Hall Image" class="img-fluid rounded">
        </div>
    </div>
</section>

<!-- Staff Section -->
<section class="container my-5 staff-section">
    <h2>Meet Our Staff</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="dream">
                <img src="../assets/images/p1.png" alt="Staff Member" class="card-img-top">
            </div>
                <div class="card-body">
                    <h5 class="card-title">Ram Kanishdan</h5>
                    <p class="card-text">Hall Manager</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="dream">
                <img src="../assets/images/p2.png" alt="Staff Member" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Arul Kannan</h5>
                    <p class="card-text">Studio Manager</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="dream">
                <img src="../assets/images/p3.png" alt="Staff Member" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Pavithira Ravi</h5>
                    <p class="card-text">Catering Manager</p>
                </div>
            </div>
        </div>
    </div>
</section>







<app-footer></app-footer>
</body>
