<app-navbar></app-navbar>



<lightgallery [settings]="settings">
        
    <a href ="../assets/images/banner1.jpg" data-lg-thumbnail ="../assets/images/banner1.jpg">
        <img class="dream"
         src="../assets/images/banner1.jpg" />
    </a>

    

      <a href ="../assets/images/e.jpg" data-lg-thumbnail ="../assets/images/e.jpg">
        <img class="dream"
        src="../assets/images/e.jpg" />
      </a>

      <a href ="../assets/images/a.jpg" data-lg-thumbnail ="../assets/images/a.jpg">
        <img class="dream"
        src="../assets/images/a.jpg" />
      </a>


      <a href ="../assets/images/g.jpg" data-lg-thumbnail ="../assets/images/g.jpg">
        <img class="dream"
        src="../assets/images/g.jpg" />
      </a>


      <a href ="../assets/images/hall2.jpg" data-lg-thumbnail ="../assets/images/hall2.jpg">
        <img class="dream"
        src="../assets/images/hall2.jpg" />
      </a>


      <a href ="../assets/images/f2.jpg" data-lg-thumbnail ="../assets/images/f2.jpg">
        <img class="dream"
        src="../assets/images/f2.jpg" />
      </a>


      <a href ="../assets/images/f14.jpg" data-lg-thumbnail ="../assets/images/f14.jpg">
        <img class="dream"
        src="../assets/images/f14.jpg" />
      </a>
      <a href ="../assets/images/f1.jpg" data-lg-thumbnail ="../assets/images/f1.jpg">
        <img class="dream"
        src="../assets/images/f1.jpg" />
      </a>

      <a href ="../assets/images/f.jpg" data-lg-thumbnail ="../assets/images/f.jpg">
        <img class="dream"
        src="../assets/images/f.jpg" />
      </a>

      <a href ="../assets/images/12.jpg" data-lg-thumbnail ="../assets/images/12.jpg">  
        <img class="dream"
        src="../assets/images/12.jpg" />
      </a>


    <a href ="../assets/images/banner4.jpg" data-lg-thumbnail ="../assets/images/banner4.jpg">
      <img class="dream"
      src="../assets/images/banner4.jpg" />
    </a>


    <a href ="../assets/images/banner5.jpg" data-lg-thumbnail ="../assets/images/banner5.jpg">
        <img class="dream"
        src="../assets/images/banner5.jpg" />
    </a>
      
    <a href ="../assets/images/image.jpg" data-lg-thumbnail ="../assets/images/image.jpg">  
        <img class="dream"
      src="../assets/images/image.jpg" />
    </a>


    <a href ="../assets/images/b.jpg" data-lg-thumbnail ="../assets/images/b.jpg">
        <img class="dream"
        src="../assets/images/b.jpg" />
      </a>

    <a href ="../assets/images/banner6.jpg" data-lg-thumbnail ="../assets/images/banner6.jpg">
        <img class="dream"
      src="../assets/images/banner6.jpg" />
    </a>

    
    <a href ="../assets/images/homepage1.jpg" data-lg-thumbnail ="../assets/images/homepage1.jpg">
      <img class="dream"
      src="../assets/images/homepage1.jpg" />
    </a>


    <a href ="../assets/images/homepage2.jpg" data-lg-thumbnail ="../assets/images/homepage2.jpg">
      <img class="dream"
      src="../assets/images/homepage2.jpg" />
    </a>
    

    <a href ="../assets/images/10.jpg" data-lg-thumbnail ="../assets/images/10.jpg">
      <img class="dream"
      src="../assets/images/10.jpg" />
    </a>
    
    <a href ="../assets/images/homepage3.jpg" data-lg-thumbnail ="../assets/images/homepage3.jpg">
      <img class="dream"
      src="../assets/images/homepage3.jpg" />
    </a>
      
    

      <a href ="../assets/images/puberty1.jpg" data-lg-thumbnail ="../assets/images/puberty1.jpg">
      <img class="dream"
      src="../assets/images/puberty1.jpg" />
    </a>


      <a href ="../assets/images/reception.jpg" data-lg-thumbnail ="../assets/images/reception.jpg"> 
      <img class="dream"
      src="../assets/images/reception.jpg" />
    </a>
      
      <a href ="../assets/images/register.jpg" data-lg-thumbnail ="../assets/images/register.jpg">
      <img class="dream"
      src="../assets/images/register.jpg" />
    </a>


      <a href ="../assets/images/4.jpg" data-lg-thumbnail ="../assets/images/4.jpg">
      <img class="dream"
      src="../assets/images/4.jpg" />
    </a>

      <a href ="../assets/images/9.jpg" data-lg-thumbnail ="../assets/images/9.jpg">
      <img class="dream"
      src="../assets/images/9.jpg" />
    </a>

      <a href ="../assets/images/11.jpg" data-lg-thumbnail ="../assets/images/11.jpg">
      <img class="dream"
      src="../assets/images/11.jpg" />
    </a>


      <a href ="../assets/images/7.jpg" data-lg-thumbnail ="../assets/images/7.jpg">
      <img class="dream"
      src="../assets/images/7.jpg" />
    </a>

      <a href ="../assets/images/8.jpg" data-lg-thumbnail ="../assets/images/8.jpg">
      <img class="dream"
      src="../assets/images/8.jpg" />
    </a>


      <a href ="../assets/images/13.jpg" data-lg-thumbnail ="../assets/images/13.jpg">
      <img class="dream"
      src="../assets/images/13.jpg" />
    </a>

      <a href ="../assets/images/16.jpg" data-lg-thumbnail ="../assets/images/16.jpg">
      <img class="dream"
      src="../assets/images/16.jpg" />
    </a>

      
    <a href ="../assets/images/f16.jpg" data-lg-thumbnail ="../assets/images/f16.jpg">
      <img class="dream"
      src="../assets/images/f16.jpg" />
    </a>
      

 

</lightgallery> 









<app-footer></app-footer>
