/* :host{
    display: block;
    text-align: center;
}

.gallery-lightbox-container{
    position:relative;
    display: inline-block;
    padding:25px;
    .gallery {
        line-height:0;
        column-count:3;
        column-gap: 30px;
        .gallery-img {
            width:100%;
            height: auto;
        }
    }
} */

@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-video.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-share.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-rotate.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-thumbnail.css');
body {
  margin: 0;
}

.dream{
    
    flex-direction: column;
    width: 32.5%;
    /* width:100%; */
    padding-bottom: 5px;
    margin: 5px;
}
