  /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
 
 * {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}   */


/*
channel:Code Info
Heading:How to create Dashboard with HTML and CSS | Create Finance Dashboard with HTML and CSS
*/
body{
    display: flex;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #ff4d29;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #f9bf00;
}
.logo {
    height: 80px;
    padding: 16px;
}
 .menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
} 
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s eas;
}

.menu li:hover, .active{
    background: #ff4d29 ;

}
.menu a{
    color: #000;
    font-size: 17px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem;
}
.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    margin: 8px 0;
}

/*bar section*/
.main--content{
    position: relative;
    width:100%;
    padding: 1rem;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #f9bf00;
    padding: 10px 2rem;
    margin-bottom:1rem;
}
.header--title{
    color: #000;
}
.user--info{
  align-items: center;
  gap: 1;
  font-size: 1.2rem;

}


/*footer*/
.cont{
    width: 90%;
    margin: 0 auto;
  }
  .cont h2{
    color: #ff4d29;
  }
  .footer-top{
    padding: 1rem;
    /* padding:50px 0; */
    background:#efc9ab;
  }
  .footer-top-menu ul{
    padding: 0;
    margin: 0;
  }
  .footer-top-menu ul li{
    list-style-type: none;
    margin-top: 20px;
    color: rgb(255,255,255);
  }
  .footer-top-menu ul li i{
    margin-right: 10px;
    font-size:17px;
  }
  .footer-top-menu ul li .heading{
    text-transform: uppercase;
    font-size: 14px;
  }
  .footer-top-menu ul li .address{
    color: #ccc;
    padding-left: 10px;
    font-size:15px;
  
  }
  .footer-top-menu ul li .email a{
    color: #ccc;
    padding-left: 10px;
    text-decoration: underline;
    font-size:15px;
    transition: .3s all ease;
  }
  .footer-top-menu ul li .email a:hover{
    color: #ff4d29;
  }
  .footer-top-menu ul li .number a{
    color:#ff4d29;
    padding-left: 10px;
    text-decoration: none;
    font-size:20px;
    font-weight: 700;
  }
  
  
  
  
  
  .footer-all-menu h2{
    color: #ff4d29;
    font-weight: 600;
    font-size:16px;
    text-transform: uppercase;
    position: relative;
    margin: 0;
  }
  .footer-all-menu h2::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: #dbdbdb;;
    opacity: .1;
    bottom: -19px;
    left:0;
  }
  .footer-all-menu ul{
    padding:0;
    margin: 30px 0 0 0;
  }
  .footer-all-menu ul li{
    list-style-type: none;
    margin-top:8px;
    transition: all .3s ease;
  }
  .footer-all-menu ul li a{
    text-decoration: none;
    font-weight: 400;
    color: #666;
    font-size:15px;
    transition: all .3s ease;
  }
  .footer-all-menu ul li i{
    font-size: 7px;
    margin: -2px 10px 0 0;
  }
  .footer-all-menu ul li:hover i{
    color: #ff4d29;
  }
  .footer-all-menu ul li a:hover{
    color: #ff4d29;
    margin-left:10px;
  }
  

